img {
    width: 250px;
    margin-bottom: 5px;
}

form {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

.btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.listagem {
    width: 800px;
    margin: 0 auto;
}